@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=JetBrains+Mono:wght@400;600;800&display=swap");

@import "https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap";

$red: #a6192e !default;
$purple: #80225f !default;
$deep-red: #76232f !default;
$magenta: #c6007e !default;
$charcoal: #373a36 !default;
$bright-red: #d6001c !default;
$sand: #d6d2c4 !default;
$white: #fff !default;
$green: #00aa4f !default;
$blue: #2d696a !default;

$colors: (
  "red": $red,
  "purple": $purple,
  "blue": $blue,
  "deep-red": $deep-red,
  "magenta": $magenta,
  "charcoal": $charcoal,
  "bright-red": $bright-red,
  "sand": $sand,
  "white": $white,
  "green": $green,
) !default;

/*-- scss:uses --*/

/*-- scss:functions --*/

/*-- scss:defaults --*/
// Headings
$headingTextTransform: uppercase;
$headings-font-weight: 800 !default;

$body-bg: $white !default;
$body-color: $charcoal !default;

$link-color: $blue !default;

$font-family-sans-serif: "Inter" !default;
/* $font-family-sans-serif: "Atkinson Hyperlegible",  */
$presentation-font-size-root: 2em !default;

$presentation-title-slide-text-align: left;

// Code Blocks
$code-block-font-size: 70% !default;
$code-block-bg: #f5f5f5 !default;

/* -- scss:mixins --*/

/*-- scss:rules --*/

.section-header-text {
  font-size: 200% !important;
  font-weight: bold;
  text-transform: capitalize;
}

.section-subheader-text {
  font-size: 125% !important;
  color: $blue;
  font-weight: bold;
  text-transform: uppercase;
}

// Macquarie Logo
.slide-logo {
  display: block;
  min-height: 5%;
  max-height: 20%;
  height: 100%;
  width: auto;
  color: $white;
}

// Title

#title-slide {
  /* top: 0 !important; */
  font-size: 185% !important;

  .quarto-title-authors {
    display: flex;
    justify-content: left;

    .quarto-title-author {
      font-size: 85% !important;
      padding-top: 3em;
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
    }
  }
  .slide-logo {
    visibility: hidden !important;
  }
}

.subtitle {
  font-size: 100% !important;
  /* color: $blue; */
  font-weight: bold;
  text-transform: uppercase;
}

.center {
  background-color: $blue !important;
}

.reveal .slides h1 {
  text-transform: capitalize;
}

.reveal .slides h2 {
  text-transform: capitalize !important;
  font-size: 4rem;
}

.reveal .slides h3 {
  text-transform: capitalize;
  color: $blue;
  font-size: 110%;
}

.v-center-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.reveal .slides code {
  color: $bright-red !important;
}

// Colours

.red {
  color: $red !important;
}

.purple {
  color: $purple !important;
}

.deep-red {
  color: $deep-red !important;
}

.magenta {
  color: $magenta !important;
}

.charcoal {
  color: $charcoal !important;
}

.bright-red {
  color: $bright-red !important;
}

.sand {
  color: $sand !important;
}

.white {
  color: $white !important;
}

.green {
  color: $green !important;
}
.blue {
  color: $blue !important;
}

// Hover Text

.hovertext {
  position: relative;
  border-bottom: 1px dotted $charcoal;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0.5;
  width: 480px;
  background-color: $charcoal;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}
.slide-number-a {
  font-size: 1.7em;
}

.aside-footnotes {
  font-size: 0.7em;
  color: #333333; /* 深灰色 */
}
aside {
  border-top: 1px solid #555555; /* 添加上邊框 */
  padding: 20px; /* 設置內邊距 */
}
.agenda {
  font-size: 1.5em;
}
.agenda-heading {
  font-size: 2.5em;
}

.agenda-slide h1 {
  display: none;
}

.agenda-inactive {
  opacity: 0.25;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
}

.agenda-active {
  margin-top: -0.5em;
  margin-bottom: -0.5em;
}
.reveal .slide-number > a[href*="title-slide"] {
  display: none;
}

/* From my previous slides css */

hr {
  border: 1px dashed $blue;
  margin-top: 10px;
  opacity: 0.5;
  /* margin-left: -50px; */
  margin-bottom: 10px;
}
ul li:hover::marker {
  transform: scale(1.5);
  color: #ffb703;
}
li {
  transition: opacity 0.3s ease;
  transition: transform 0.3s ease;
}
li::marker {
  color: $blue;
}
li:hover {
  /* transform: translateX(-5px); */
  /* transform: scale(1.05); */
  transition: transform 0.3s ease;
  text-decoration: underline;
  text-decoration-color: #6c9a77;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
}

kbd {
  background-color: #eee;
  border: 0;
  border-radius: 0.3em;
  box-shadow:
    +0.1em +0.125em 0.125em rgba(0, 0, 0, 0.25),
    0 0 0 0.02em rgba(0, 0, 0, 0.4),
    0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4) inset,
    +0.05em +0.05em 0.02em rgba(255, 255, 255, 0.8) inset;
  color: var(--JAMA-foreground);
  display: inline-block;
  padding: 0.2em 0.4em;
  margin: 0 0.35em;
  font-family: "JetBrains Mono", monospace;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
}

kbd:hover {
  background-color: #eee;
  border-radius: 0.125em;
  background-color: #f3f3f3; /* 淺色背景以突出懸停效果 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 更大的陰影以增強視覺效果 */
}

kbd:active {
  background-color: #e6e6e6; /* 按下時更暗的背景色 */
  box-shadow:
    0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2),
    0 0 0 0.05em rgba(0, 0, 0, 0.4),
    -0.025em -0.05em 0.025em rgba(255, 255, 255, 0.8) inset; /* 仿照按鈕的按下效果 */
  transform: translateY(5px); /* 輕微下移以模擬按鍵被按下 */
}
