@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=JetBrains+Mono:wght@400;600;800&display=swap");

@import "https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap";

$red: #a6192e !default;
$purple: #80225f !default;
$deep-red: #76232f !default;
$magenta: #c6007e !default;
$charcoal: #373a36 !default;
$bright-red: #d6001c !default;
$sand: #d6d2c4 !default;
$white: #fff !default;
$green: #00aa4f !default;
$blue: #2d696a !default;

$colors: (
  "red": $red,
  "purple": $purple,
  "blue": $blue,
  "deep-red": $deep-red,
  "magenta": $magenta,
  "charcoal": $charcoal,
  "bright-red": $bright-red,
  "sand": $sand,
  "white": $white,
  "green": $green,
) !default;

/*-- scss:uses --*/

/*-- scss:functions --*/

/*-- scss:defaults --*/
// Headings
$headingTextTransform: uppercase;
$headings-font-weight: 800 !default;

$body-bg: $white !default;
$body-color: $charcoal !default;

$link-color: $blue !default;

$font-family-sans-serif: "Inter" !default;
/* $font-family-sans-serif: "Atkinson Hyperlegible",  */
$presentation-font-size-root: 2em !default;

$presentation-title-slide-text-align: left;
$code-block-font-size: 1.8rem;

/* -- scss:mixins --*/

/*-- scss:rules --*/

.section-header-text {
  font-size: 150% !important;
  font-weight: bold;
  text-transform: capitalize;
}

.section-subheader-text {
  font-size: 125% !important;
  color: $blue;
  font-weight: bold;
  text-transform: uppercase;
}

// Macquarie Logo
.slide-logo {
  display: block;
  min-height: 5%;
  max-height: 20%;
  height: 100%;
  width: auto;
  color: $white;
}

.footer {
  display: none !important;
}

// Title

#title-slide {
  /* top: 0 !important; */
  font-size: 150% !important;

  .quarto-title-authors {
    display: flex;
    justify-content: left;

    .quarto-title-author {
      font-size: 85% !important;
      padding-top: 3rem;
      padding-left: 0rem;
      padding-right: 0rem;
      width: 100%;
    }
  }
  .slide-logo {
    visibility: hidden !important;
  }
}

.reveal blockquote {
  color: $blue;
  padding: 0.625rem 1.75rem;
  border-left: 0.25rem solid $blue;
}

.has-dark-background {
  .footer {
    color: $white;
    display: block !important;
  }
  .slide-number {
    color: $white !important;
  }
  li::marker {
    color: $white;
  }
  .menubar {
    display: none;
    /* color: $white; */
  }
}

.subtitle {
  font-size: 100% !important;
  /* color: $blue; */
  font-weight: bold;
  text-transform: uppercase;
}

.center {
  background-color: $blue !important;
}

.reveal .slides h1 {
  text-transform: capitalize;
}

.reveal .slides h2 {
  text-transform: capitalize !important;
  font-size: 3rem;
}

.reveal .slides h3 {
  text-transform: capitalize;
  color: $blue;
  font-size: 2rem;
}

.v-center-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.reveal .slides code {
  color: $bright-red !important;
}

// Colours

.red {
  color: $red !important;
}

.purple {
  color: $purple !important;
}

.deep-red {
  color: $deep-red !important;
}

.magenta {
  color: $magenta !important;
}

.charcoal {
  color: $charcoal !important;
}

.bright-red {
  color: $bright-red !important;
}

.sand {
  color: $sand !important;
}

.white {
  color: $white !important;
}

.green {
  color: $green !important;
}
.blue {
  color: $blue !important;
}

// Hover Text

.hovertext {
  position: relative;
  border-bottom: 1px dotted $charcoal;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0.5;
  width: 480px;
  background-color: $charcoal;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}
.slide-number-a {
  font-size: 1.5rem;
}

.aside-footnotes {
  font-size: 0.8rem;
  color: #333333; /* 深灰色 */
}
aside {
  border-top: 1px solid #555555; /* 添加上邊框 */
  position: relative;
  bottom: -60px !important;
  padding: 10px; /* 設置內邊距 */
  background-color: white;
}
.agenda {
  font-size: 2rem;
}
.agenda-heading {
  font-size: 3.5rem;
}

.agenda-slide h1 {
  display: none;
}

.agenda-inactive {
  opacity: 0.2;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.agenda-active {
  /* font-size: 3.5rem; */
  /* text-shadow: 0px 10px 15px #2a4748; */
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.circle_img {
}

li::marker {
  color: $blue;
}
video.live-video.circle {
  /* border-radius: 5%; */
  width: 300px;
  height: 300px;
  border: none !important;
  position: relative;
  /* position: absolute; */
  top: 35%;
  left: 65%;
  border-radius: 50%;
  object-fit: cover;
  /* transform: scale(1.5); */
  box-shadow: none;
}
.add-space {
  padding-right: 20%;
}
.reveal pre.sourceCode code {
  /* height: 500px; */
  max-height: 800px;
}
/* By default, revealjs will display the caption of the image below it. You can hide it by using this stylesheet: */
.reveal p.caption {
  display: none;
}
